<div class="row collapse">
    <div class="large-12 columns promo-banner">
        <h2>Reset Password</h2>
    </div>
</div>
<div class="row collapse">
    <div class="large-12 columns">
        <form class="" action="/password_resets" accept-charset="UTF-8" enctype="multipart/form-data" method="post">
            <%= csrf_tag %>
            <fieldset>
                <div class="row">
                    <div class="large-4 columns large-offset-2 end <%= 'error' if @customer_email_unknown %>">
                        <label>Email
                             <input
                                 id="customer_email"
                                 name="customer[email]"
                                 type="email"
                                 required
                                 placeholder="">
                        </label>
                        <% if @customer_email_unknown %>
                            <small class="error">Email not found</small>
                        <% end %>
                    </div>
                </div>
                <div class="row">
                    <div class="large-6 columns large-offset-2">
                        <a href="/customers/new"></a><br>
                        <a href="/password_resets/new"></a>
                    </div>
                    <div class="large-2 columns  end">
                        <button type="submit" class="right">Submit</button>
                    </div>
                </div>

            </fieldset>

        </form>
    </div>
</div>
