<div class="row collapse">
  <div class="white-section contact-bg">
    <div class="large-6 contact-us">
      <h1>Contact Us</h1>
      <h6>ADDRESS</h6>
      <p>Useful Music</p>
      <p>11 Tinley Garth,</p>
      <p>Kirkbymoorside,</p>
      <p>York,</p>
      <p>YO62 6AR</p>
      <p>United Kingdom</p>
      <h6>TELEPHONE</h6>
      <p>+44 (0) 1751 433 379</p>
    </div>
    <div class="large-6">
    </div>
  </div>
</div>
