<main class="archive">
    <header class="admin">
        <h2 class="left" id="menu-title">
            Admin
            <ul class="dropdown menu-container">
                <li class="menu-option">
                  <a class="menu-link" href="/admin/customers">Customers</a>
                </li>
                <li class="menu-option">
                  <a class="menu-link" href="/admin/pieces">Pieces</a>
                </li>
                <li class="menu-option">
                  <a class="menu-link" href="/admin/discounts">Discounts</a>
                </li>
            </ul>
        </h2>
    </header>
    <header class="admin">
    </header>
    <section class="content">
        <a href="/admin/customers">
            <h1>Customers</h1>
        </a>
        <a href="/admin/pieces">
            <h1>Pieces</h1>
        </a>
        <a href="/admin/discounts">
            <h1>Discounts</h1>
        </a>
    </section>
</main>
