html, body {
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}

header {
  background-color: #01344c;
  color: white;
}

.content {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  min-width: 320px;
  max-width: 1260px;
  padding: 1em;
  overflow: hidden;
}

h1 {
  float: left;
  margin: 0;
  font-size: 2.4em;
  font-weight: 100;
}

li {
  display: inline-block;
}

li a {
  text-decoration: none;
  color: white;
  padding: 4px 19px;
}

li a:hover {
  padding: 4px 18px;
  border: 1px solid white;
}
.inline {
  margin: 0;
  padding: 13px 10px;
  float: right;
  color: white;
}
