html, body {
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}

header {
  background-color: #01344c;
  color: white;
}

.content {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  min-width: 320px;
  max-width: 1260px;
  overflow: hidden;
}

header .content {
  padding: 1em;
}

h1 {
  float: left;
  margin: 0;
  font-size: 2.4em;
  font-weight: 100;
}

header li {
  display: inline-block;
}

header li a {
  text-decoration: none;
  color: white;
  padding: 4px 19px;
}

header li a:hover {
  padding: 4px 18px;
  border: 1px solid white;
}
.inline {
  margin: 0;
  padding: 13px 10px;
  float: right;
  color: white;
}

/*################## Main ###########################*/

main.content {
  background-color: aliceblue;
}

.col-2 {
  width: 50%;
  float: left;
  border: 1px solid red;
}

aside {
  width: 20%;
  float: left;
}

aside li {
  display: block;
}

aside li a {
  color: grey;
  font-size: 1.5em;
}
aside li a:hover {
  color: #01344c;
}
article {
  float: left;
  width: 80%;
  padding: 2em;
}
article table {
  width: 100%;
}
