<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />

    <title>UsefulMusic.com</title>

    <meta name="description" content="Sheet music downloads for developing musicians, expertly written to suit the instrument and the player’s level">
    <!-- <link rel="canonical" href="http://usefulmusic.com/" /> -->
    <meta name="google-site-verification" content="3jsLN6xEJdPEFzyhuP7M-oogriOB2oKSAQiM95FxQ2U" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/stylesheets/application.css">
</head>
<body>
    <!-- TODO explicit reference of guest -->
    <%= header_partial(session) %>

    <%= if Map.get(flash, :success) do %>
    <div class="row collapse">
        <div class="large-12 columns flash success">
            <h2>
                <%= flash.success %>
            </h2>
        </div>
    </div>
    <% end %>
    <%= if Map.get(flash, :error) do %>
    <div class="row collapse">
       <div class="large-12 columns flash error">
           <h2>
               <%= flash.error %>
           </h2>
       </div>
    </div>
    <% end %>

    <%= content %>

    <%= footer_partial %>

    <script type="text/javascript">
    var $$ = document.querySelectorAll

      var flash = document.querySelectorAll('.flash')
      function getClosest(el, tag) {
        // this is necessary since nodeName is always in upper case
        tag = tag.toUpperCase();
        do {
          if (el.nodeName === tag) {
            // tag name is found! let's return it. :)
            return el;
          }
        } while (el = el.parentNode);

        // not found :(
        return null;
      }

      function slideUp(evt){
        getClosest(evt.target, 'div').classList.add('read');
      }
      flash[0].addEventListener("click", slideUp);
      flash[1].addEventListener("click", slideUp);
    </script>
</body>
</html>
