<main class="content">
  <div class="col-2">
    <h2>Pieces</h2>
    <a href="/pieces">Public Catalogue</a><br>
    <!-- <a href="/customers">Index of customers</a><br>
    <a href="/discounts">Index of Discounts</a><br> -->
    <a href="/about">About</a><br>
    <a href="/admin">Admin</a>
  </div>
  <div class="col-2">
    <p>
      A Much Bigger Description
    </p>
  </div>
</main>
