<main class="content">
  <div class="col-2">
    <h2>Pieces</h2>
    <a href="/pieces">Index of pieces</a><br>
    <a href="/customers">Index of customers</a>
  </div>
  <div class="col-2">
    <p>
      description
    </p>
  </div>
</main>
