<main class="content">
    <aside class="col col-1-5">
      <ul>
          <li>
              <a href="/">Home</a>
          </li>
          <li>
              <a href="/pieces/<%= @piece.catalogue_number %>">Show</a>
          </li>
          <hr>
          <li>
              <a href="/items/new?piece_id=<%= @piece.id %>">Add Item</a>
          </li>
      </ul>
    </aside>
    <article class="col col-4-5">
        
    </article>
</main>
