<h1>Pieces</h1>
<a href="pieces/new">New piece</a>
<a href="/pieces/3?_method=delete">destroy</a>
<form action="/pieces/4" method="post">
  <input name="_method" type="hidden" value="delete" />
  <input type="submit" value="destroy">
</form>
