<h1>Pieces</h1>

<% @pieces.each do |piece| %>
<br>
<%= piece.title %>
<a href="/pieces/<%= piece.id %>">Show</a>
<form action="/pieces/<%= piece.id %>" method="post">
  <input name="_method" type="hidden" value="delete" />
  <input type="submit" value="destroy">
</form>
<br>
<% end %>
