<main class="content">
    <h2>New Piece</h2>
    <form class="pure-form pure-form-aligned col-1" action="/pieces" accept-charset="UTF-8" enctype="multipart/form-data" method="post">
        <fieldset>
            <div class="pure-control-group">
                <label for="piece_id">Catalog <em>UD</em></label>
                <input
                    id="piece_id"
                    name="piece[id]"
                    type="number"
                    autofocus
                    required
                    placeholder="XXX">
            </div>

            <div class="pure-control-group">
                <label for="piece_title">Title</label>
                <input
                    id="piece_title"
                    name="piece[title]"
                    type="text"
                    required
                    placeholder="">
            </div>

            <div class="pure-control-group">
                <label for="piece_sub_heading">Sub heading</label>
                <input
                    id="piece_sub_heading"
                    name="piece[sub_heading]"
                    type="text"
                    required
                    placeholder="e.g. Flute and keyboard">
            </div>

            <div class="pure-control-group">
                <label for="piece_sub_heading">Product name</label>
                <input
                    id="piece_sub_heading"
                    type="text"
                    disabled
                    placeholder="generated from title and subheading">
            </div>

            <div class="pure-control-group">
                <label for="piece_description">Description</label>
                <textarea
                    id="piece_description"
                    name="piece[description]"
                    required
                    placeholder="product description"></textarea>
            </div>

            <div class="pure-control-group">
                <label for="piece_category">Category</label>
                <select
                    id="piece_category"
                    name="piece[category]"
                    required>
                    <option value>-- category --</option>
                    <option value="solo">Solo</option>
                    <option value="solo_with_accompaniment">Solo with accompaniment</option>
                    <option value="duet">Duet</option>
                    <option value="trio">Trio</option>
                    <option value="quartet">Quartet</option>
                    <option value="larger_ensembles">Larger ensembles</option>
                </select>
            </div>
            <p>
              IN progress instrument selections
            </p>
            <div class="pure-control-group">
                <label for="piece_beginner">Beginner (level 1-3)</label>
                <input
                    id="piece_beginner"
                    name="piece[beginner]"
                    type="checkbox"
                    placeholder="">
            </div>

            <div class="pure-control-group">
                <label for="piece_intermediate">Intermediate (level 4-6)</label>
                <input
                    id="piece_intermediate"
                    name="piece[intermediate]"
                    type="checkbox"
                    placeholder="">
            </div>

            <div class="pure-control-group">
                <label for="piece_advanced">Advanced (level 7&amp;8)</label>
                <input
                    id="piece_advanced"
                    name="piece[advanced]"
                    type="checkbox"
                    placeholder="">
            </div>

            <div class="pure-control-group">
                <label for="piece_professional">Profesional</label>
                <input
                    id="piece_professional"
                    name="piece[professional]"
                    type="checkbox"
                    placeholder="">
            </div>

            <div class="pure-control-group">
                <label for="piece_notation_preview">Notation Preview</label>
                <input
                    id="piece_notation_preview"
                    name="piece[notation_preview]"
                    type="file"
                    required>
            </div>

            <div class="pure-control-group">
                <label for="piece_audio_preview">Audio Preview</label>
                <input
                    id="piece_audio_preview"
                    name="piece[audio_preview]"
                    type="file">
            </div>

            <div class="pure-control-group">
                <label for="piece_cover_image">Cover Image</label>
                <input
                    id="piece_cover_image"
                    name="piece[cover_image]"
                    type="file"
                    required>
            </div>

            <div class="pure-control-group">
                <label for="piece_meta_description">Meta description</label>
                <input
                    id="piece_meta_description"
                    name="piece[meta_description]"
                    type="text"
                    placeholder="">
            </div>

            <div class="pure-control-group">
                <label for="piece_meta_keywords">Meta keywords</label>
                <input
                    id="piece_meta_keywords"
                    name="piece[meta_keywords]"
                    type="text"
                    placeholder="">
            </div>


            <div class="pure-controls">
                <button type="submit" class="pure-button pure-button-primary">Submit</button>
            </div>
        </fieldset>
    </form>
</main>
