<main class="content">
    <aside id="">
      <ul>
          <li>
              <a href="/">Home</a>
          </li>
      </ul>
    </aside>
    <article>
        <form class="pure-form pure-form-aligned" action="/authenticate" accept-charset="UTF-8" enctype="multipart/form-data" method="post">
            <fieldset>

                <input name="email" type="email" placeholder="email" required>
                <input name="password" type="password" placeholder="password" required>
            </fieldset>
            <div class="pure-controls">
                <button type="submit" class="pure-button pure-button-primary">Submit</button>
            </div>
        </form>
  </article>
</main>
