<div class="above-fold-bg">
    <div class="row collapse">
        <div class="large-12 columns">
            <div class="above-fold-left-main">
                <h1>Something went wrong!</h1>
                <h2>An unexpected error occured. A message has been sent to us so we can look into it</h2>
                <% if current_customer.admin? %>
                    <p>
                        <%= @err.message %>
                        <%= @err.response if @err.respond_to? :response %>
                        <%= @err.response.details if @err.respond_to? :response %>
                    </p>
                <% end %>
                <a href="/">
                    <button>
                        <i class="fa fa-music fa-music-cstm"></i>
                        <h3>Return to UsefulMusic.com</h3>
                        <i class="fa fa-play fa-play-cstm"></i>
                    </button>
                </a>
            </div>
        </div>
    </div>
</div>
