.about-blue {
  width: 100%;
  background: #0092b7;
  background: -moz-radial-gradient(center, ellipse cover, #0092b7 0%, #01334c 96%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#0092b7), color-stop(96%,#01334c));
  background: -webkit-radial-gradient(center, ellipse cover, #0092b7 0%,#01334c 96%);
  background: -o-radial-gradient(center, ellipse cover, #0092b7 0%,#01334c 96%);
  background: -ms-radial-gradient(center, ellipse cover, #0092b7 0%,#01334c 96%);
  background: radial-gradient(ellipse at center, #0092b7 0%,#01334c 96%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0092b7', endColorstr='#01334c',GradientType=1 );
  height: auto;
  padding: 1.5em;
}

.about-white {
  height: auto;
  padding: 1.5em;
}

.about-blue h1,h6 {
  color: white;
}

.about-blue p {
  color: white;
  font-size: 1.1em;
}

.about-blue h6:hover {
  color: red;
}

.about-white p {
  font-size: 1.1em;
}

.about-white h5 {
  margin-bottom: 1em;
}

.about-white h6 {
  color: #222222;
}

.about-white h6:hover {
  color: red;
}

.section-3 {
  height: auto;
}

.general-content h6 {
  color: #222222;
}

.about-img-1 {
  background-image: url('/images/about-sheet.png');
  background-repeat: no-repeat;
  margin-top: 5em;
  margin-left: 3em;
  width: 100%;
  height: 35em;
}

.about-img-2 {
  background-image: url('/images/ipad.png');
  background-repeat: no-repeat;
  margin-top: 5em;
  margin-left: 3em;
  width: 100%;
  height: 35em;
}

.about-img-3 {
  background-image: url('/images/graham-headshot.png');
  background-repeat: no-repeat;
  margin-top: 5em;
  margin-left: 3em;
  width: 100%;
  height: 35em;
}
