.account-wrap {
  padding-top: 0.4em;
  padding-right: 0.5em;
  margin-bottom: 1.5em;

}

.account-button {
  width: 100%;
  color: white;
  font-size: 1.2em;
  font-family: 'Montserrat';
  text-transform: uppercase;
  padding: 0.5em;
  background-color: #005a86;
  margin: 1px
}

.account-button a {
  color: white;
  width: 100%;
  height: 100%;
  display: inline-block;
}

.account-button input {
  color: white;
  width: 100%;
  height: 100%;
  display: inline-block;
  background-color: inherit;
  border: none;
  font-size: inherit;
  font-family: 'Montserrat';
  cursor: pointer;
}

.filter-wrap.account {
  min-height: 0;
}

.order-table {
  width: 100%;
}

.logout-btn {
  background: #e41f21;
}
