.archive {
  @extend .content;
  background-color: #f8f7f7;

  .admin {
    @include scut-vcenter-lh(50px);
    background-color: $charcol;
    color: white;
    overflow: hidden;
    padding: 0 1rem;
  }

  #menu-title {
    color: white;
    margin: 0;
  }


  .index {
    @extend .pure-table;
    width: 100%;
    text-align: left;
    .odd {
      background-color: aliceblue;
    }
    margin: 1rem 0;
  }

  #item-type {
    margin: 0;
  }

  input {
    width: 16em;
  }
}
