/*########### Buttons #################*/

.action {
  @extend .pure-button;
}

.edit {
  @extend .action;
  background: $orange;
}

.destroy {
  @extend .action;
  background: $red;
}

.approve {
  @extend .action;
  background: $green;
}

.submit {
  @extend .action;
  background: $primary-color;
  color: white;
}
