.contact-us p{
  font-size: 1.1em;
  margin-bottom: 0;
}

.contact-bg {
  padding-bottom: 4em;
}

.contact-us h6{
 margin-top: 1em;
}

.form {
 margin: 4em 0em;
}

.form-submit-btn {
  float: left;
  margin-top: 1rem;
  font-size: 1.4em;
  background: #e41f21;
  font-family: 'Montserrat';
  text-transform: uppercase;
  color: white;
  border: none;
  padding: 1em;
}

.form-submit-btn:hover {
  background: #005a86;
}
