.social-list {
  @include scut-list-floated;
  float: left;
  margin-right: 4em;
  li {
    margin: 0.3em;
    padding: 0.4em 0.2em;
    background-color: orange;
    border: 1px solid orange;
    i {
    }
  }
}

.currency-list {
  @include scut-list-floated;
  float: left;
  li {
    margin: 0.3em;
    padding: 0.4em 0.2em;
    border: 1px solid white;
    i {
    }
  }
}
.credentials {
  @include scut-list-floated;
  padding: 13px 10px;
  float: right;
  li a {
    border: 1px solid #01344c;
    padding: 4px 19px;
    transition : border 500ms ease-out;
  }
  li a:hover {
    /*padding: 4px 18px;*/
    border: 1px solid white;
  }
}
.main-navigation {
  @include scut-list-floated;
  float: left;
  li {
    cursor: pointer;
    padding: 1em;
    &:hover {
      background-color: red;
    }
  }
}
#top-bar {
  @include scut-vcenter-td;
  .scut-inner {
    width: 200px;
    input {
      background: none repeat scroll 0 0 #fff;
      border: 2px solid #dbdada;
      box-sizing: border-box;
      float: left;
      height: 48px;
      left: 0;
      padding: 15px 10px;
      position: relative;
      width: 430px;
      &:focus {
        border: 2px solid $secondary-color;

      }
    }
  }
}
header {
  .ribbon {

  }

  img {
    width: 120px;
    height: 120px;
    float: left;
  }
}
