<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />

    <title>UsefulMusic.com</title>

    <meta name="description" content="Sheet music downloads for developing musicians, expertly written to suit the instrument and the player’s level">
    <!-- <link rel="canonical" href="http://usefulmusic.com/" /> -->
    <meta name="google-site-verification" content="3jsLN6xEJdPEFzyhuP7M-oogriOB2oKSAQiM95FxQ2U" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/stylesheets/application.css">
</head>
<body>
  TODO HEADER

    <div class="content flash success">
      some query string success <i class="fa fa-times right"></i>
    </div>
    <div class="content flash error">
      some query string error <i class="fa fa-times right"></i>
    </div>

    <%= content %>

    <%= footer_partial %>

    <script src="/scripts/close-flash.js"></script>
</body>
</html>
