
<div class="row collapse">
    <div class="large-12 columns white-section general-content">
        <h2>Composers: How to Submit</h2>
        <p>I have taught woodwind students since 1970 and used that experience to print and publish around 100, mostly successful, albums. The music I used for teaching was by no means only mine; now that publishing sheet music on the internet is so much quicker and cheaper than publishing in print I want to take the opportunity to publish music by anyone from anywhere - not just my music.<br><br>Please see more information on the selection criteria here.</p>

        <h6>Submissions</h6>
        <p>Please send me your compositions (or arrangements of music in the public domain) as Sibelius or PDF files, to graham@usefulmusic.com — but, please, not through the post. You have my word that I will not publish your work without your consent. You're welcome to include any information about your composition or yourself with your submission.</p>

        <p>When a work is selected for potential publication here, I will send you a summary of composer's and publishers' rights and terms, which, if agreed, will be followed by a formal contract.</p>



        <h6>Graham Lyons</h6>
    </div>
</div>
