<div class="row collapse">
    <div class="white-section contact-bg">
        <div class="large-6 contact-us">
            <h1>Contact Us</h1>
            <h6>ADDRESS</h6>
            <p>Useful Music</p>
            <p>11 Tinley Garth,</p>
            <p>Kirkbymoorside,</p>
            <p>York,</p>
            <p>YO62 6AR</p>
            <p>United Kingdom</p>
            <h6>TELEPHONE</h6>
            <p>+44 (0) 1751 433 379</p>
            <!-- <div class="form">
                <h6>CONTACT FORM</h6>
                <form>
                    <h6>YOUR NAME</h6>
                    <input type="text" name="name">
                    <h6>YOUR EMAIL</h6>
                    <input type="email" name="email">
                    <h6>YOUR ENQUIRY</h6>
                    <textarea type="email" name="email" rows="15"></textarea>
                    <input type="submit" class="form-submit-btn">
                </form>
            </div> -->
        </div>
        <div class="large-6">
        </div>
    </div>
</div>
