<main class="content">
    <aside id="">
        <ul>
            <li>
                <form class="" action="/currency" method="post">
                    <%= csrf_tag %>
                    <input type="text" name="preference" value="USD">
                    <input type="submit" name="name" value="USD">
                </form>
            </li>
            <li>
                <a href="/">Home</a>
            </li>
            <hr>
            <li>
                <a href="/about">About</a>
            </li>
            <li>
                <a href="/about/composers">Composers</a>
            </li>
            <li>
                <a href="/about/contact">Contact</a>
            </li>
            <li>
                <a href="/about/licencing_and_copyright">Licencing and copyright</a>
            </li>
            <li>
                <a href="/about/privacy">Privacy</a>
            </li>
            <li>
                <a href="/about/refunds">Refunds</a>
            </li>
            <li>
                <a href="/about/search_and_purchase">Search and Purchase</a>
            </li>
            <li>
                <a href="/about/sitemap">Site Map</a>
            </li>
            <li>
                <a href="/about/terms_and_conditions">Terms and Conditions</a>
            </li>
        </ul>
    </aside>
    <article id="">
        <h2>About us</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
    </article>
</main>
