<div class="about-blue">
    <div class="row collapse">
        <div class="large-6 columns">

        </div>
        <div class="large-6 columns">
            <h1>Why Useful Music?</h1>
            <p>It may seem odd to call music useful. Music is meant to stir the imagination; take you out of yourself. It's the stuff of dreams, surely?<br><br>But consider this: if you want to learn to play music you must use a musical instrument. An instrument, therefore a useful - well, an essential tool! And your choice of music is essential. If the music bores you, or is awkwardly written for the instrument, motivation to practise vanishes.<br><br>Not so here: All the music composed, arranged and selected for usefulmusic.com, at every level, has a melody you can appreciate and harmonies that do more than just accompany. Further, the pieces are expertly written to suit the instrument and the player's level. On this site, the music is selected to inspire the learner to want to play and so to practise and improve - truly useful music.</p>
            <a href="/"><h6>Browse Useful Music</h6></a>
        </div>
    </div>
</div>

<div class="about-white">
    <div class="row collapse">
        <div class="large-6 columns">
            <h1>The convenience of sheet music downloads</h1>
            <h5>For teachers</h5>
            <p>On usefulmusic.com, pieces are instantly accessible – you can see and hear samples, easily browse a wide selection of music and choose an individual composition rather than buy a whole album. For ensembles, you can not only select any combination of parts, but if a student loses one it can be replaced straight away. The accessibility of audio downloads of pieces and backing tracks make it much simpler for students to practice and learn.<br><br>Different styles of music suit different students – the convenience of downloads mean that teachers can have a much wider selection to try with pupils. And crucially, buying sheet music in this form costs a small fraction of the price!
                <h5>For owners of tablets</h5>
                <p>In site development we surveyed a number of teachers, 55% of whom read sheet music from a tablet. Our Useful App is in the pipeline for iPad and Android for those who favour this method over printing music. In the meantime, the music here can be simply downloaded in pdf form straight onto your tablet..</p>
                <a href="/"><h6>Browse Useful Music</h6></a>
            </div>
            <div class="large-6 columns">

            </div>
        </div>
    </div>

    <div class="about-blue section-3">
        <div class="row collapse">
            <div class="large-6 columns">

            </div>
            <div class="large-6 columns">
                <h1>About the Composer</h1>
                <p>The music on this site is composed, arranged or selected by Graham Lyons, one of the most successful composers of educational music in Britain. Sales of his music exceed half a million copies and he has been featured over 100 times on the syllabuses of nationally accredited music exam boards. His success comes from 40 years of experience, not only in educational compositions but as a teacher, session musician and commercial composer. This invaluable experience has given him a detailed and sympathetic insight into learners’ problems – and most importantly, has honed his ability to write attractive music.<br><br>Graham is also the inventor of the Lyons C Clarinet. This is a lightweight clarinet in the key of C, which allows children to start playing the clarinet four years earlier and play the music of many other instruments without transposing. After years of development, the instrument is now sold internationally as the Clarinéo <a href="http://www.nuvo-instrumental.com/">(www.nuvo-instrumental.com)</a>.<br><br>Graham has amassed over 300,000 Youtube views for his compositions, Clarinéo demonstrations, instrumental performances, educational tips and rollerblading talent. A few of these are featured on our Useful Music Youtube channel <a href="https://www.youtube.com/user/usefulmusic">here.</a><br><br>Looking for more information? Try this <a href="http://www.john-robert-brown.com/graham-lyons.htm">article</a> or this <a href="http://www.clarineo.co.uk/grahamlyons.asp">biography</a></p>
                <a href="/"><h6>Browse Useful Music</h6></a>
            </div>
        </div>
    </div>
