<div class="row collapse">
    <div class="large-12 columns white-section general-content">
        <h3>Licencing & Copyright</h3>
        <p>Once you have bought your sheet music you will be automatically directed to 'MY ORDERS AND DOWNLOADS'. Click on the download link (in blue on the right side) also click on the important receipt/licence link, (square blue box on the left) which is proof of purchase.  Your order stays available for four days.</p>
        
<h6>The Licence (licence in US)</h6>
<p>When you buy from usefulmusic.com you are buying, not physical sheet music, but permission to print the number of copies you have paid for. The number is on the receipt/licence page as well as the titles of the purchased pieces and their instrumental make up. So please make sure you download and print that page.</p>

        <h6>Trust</h6>
        <p>On most sheet music download sites you get just one chance to print the music; if the paper jams or you press the wrong button – that's it! 
With music from this site, the PDF stays on your computer. The disadvantage for me is that anyone can print more copies than they bought; the advantage to you is that the purchasing process is smoother, and if music doesn't print first time you can try again till you succeed. But I do trust you to print only the copies to which you are entitled, in line with international copyright law. If, at any later stage, you need more copies, please return to <a href="/">www.usefulmusic.com</a> to purchase the necessary licences.</p>

<h6>Half-price licences</h6>
        <p>Many of the more elementary pieces sound equally effective with solo or ensemble parts doubled or more. The actual number is for the music director to decide.  For these pieces, after the first licence at the normal price, you can buy additional licences at half price, but only at each separate order.</p>

        <h6>Anything amiss?</h6>
        <p>Please contact our team through the web site, or myself on graham@usefulmusic.com if, for instance, your PDF doesn't arrive or doesn't print well. I'd be grateful to know if you think a search or purchasing procedure could be improved or any text on the site is not clearly expressed. Please also let me know if you come across mistakes in the music.</p>
            <br>
            With best wishes,
            <br><br>
            Graham Lyons</p>


        </div>
    </div>
</div>
