<div class="row collapse">
    <div class="large-12 columns white-section general-content">
        <h3>Licencing & Copyright</h3>
        <h6>The Licence (License in US)</h6>
        <p>When you buy sheet music from this site you simply open up the PDFs, which arrive on your email inbox a few seconds later, ready for printing. You are, in effect, buying a licence to print as many copies as you have paid for.</p>

        <h6>Printed receipt</h6>
        <p>Along with the music, please download the receipt and licences page. This shows you your purchases and the number of copies of each item you can legally make.</p>

        <h6>Trust</h6>
        <p>On most sheet music download sites you get just one chance to print the music; if the paper jams or you press the wrong button – that's it! With music from this site, the PDF stays on your computer so that if anything goes wrong with the printing you can carry on trying till you succeed. But I do trust you to print only the copies to which you are entitled, in line with international copyright law. If, at any stage, you need more copies, please return to www.usefulmusic.com to purchase the necessary licences.</p>

        <h6>Anything amiss?</h6>
        <p>Please contact our team through the web site, or myself on graham@usefulmusic.com if, for instance, your PDF doesn't arrive or doesn't print well. I'd be grateful to know if you think a search or purchasing procedure could be improved or any text on the site is not clearly expressed. Please also let me know if you come across mistakes in the music.
            <br><br>
            With best wishes,
            <br><br>
            Graham Lyons</p>


        </div>
    </div>
</div>
