<div class="row collapse">
    <div class="large-12 columns white-section general-content">
        <h3>Replacements, Refunds & Returns</h3>
        <h6>Replacement and refund policy </h6>
        <p>If the music you have purchased contains errors, such as not corresponding to the music displayed on the site, or mistakes in the music itself, please advise us of the errors you have found and you can choose from an immediate refund or a free corrected replacement within a week.
            <br><br>
            If you are unable to download or print a file from Useful Music after several attempts, your payment will be refunded, provided that your computer, browser and printer conform to the basic requirements listed on the Terms and Conditions page.</p>

        </div>
    </div>
</div>
