<div class="row collapse">
    <div class="large-12 columns white-section general-content">
        <h3>Terms &amp; Conditions</h3>

        <p>This section is easy to follow and written in clear English. Please read it. We want you to be clear on what you can expect from us in dealing with any problems you may have in your use of the site or your purchases, and clear on your rights and restrictions in regard to your use of music from this website.</p>

        <h6>In using this website you are deemed to have read and agreed to the following Terms and Conditions:</h6>
        <h6>Definitions</h6>
        <p>The following terminology applies to  these Terms and Conditions, Disclaimer Notice and any or all Agreements:<br>
            “You” and “Your” refers to you, the person accessing this website and accepting the Company’s Terms and Conditions. <br>
            "We",  "Us", "Ourselves" "Company" refers to Useful Music, the owners of the copyright to the music for sale on this website.<br>
            “Parties” refers to both you and Useful Music.<br>
            "Music" refers to the music in notation and audio format for sale on this website.<br>
            The above terminology has the same meaning and reference when the words appear with the first letter in either upper or lower case.</p>
            <h6>Basic requirement</h6>
            <p>You have access to a computer and printer, and you are able to download and print files in PDF format and download and play files in MP3 format.</p>
            <h6>Licensing</h6>
            <p>The music on this website is protected by copyright law and when you purchase music from this site you are, in effect, buying licences to download and print music for the number of copies you have paid for. The purchasing of licences and downloading of music files is simple, trouble-free and fair. For an explanation of the process and your rights and responsibilities under a Useful Music licence please read the article <a href="/about/licencing_and_copyright">here.</a></p>
            <h6>Replacement and refund policy</h6>
            <p>If the music you have purchased contains errors, such as not corresponding to the music displayed on the site, or mistakes in the music itself, please advise us of the errors you have found and you can choose from an immediate refund or a free corrected replacement within a week.If you are unable to download or print a file from Useful Music after several attempts, your payment will be refunded, provided that your computer, browser and printer conform to the basic requirement above.</p>
            <h6>Payments</h6>
            <p>Payment is made exclusively by digital means through the website's checkout. Music is sold on a pre-payment basis.</p>
            <h6>Value Added Tax (VAT)</h6>
            <p>The advertised prices on this site exclude VAT. VAT is added to the price of sales to countries in the European Union. The current rate is 20% but this may fluctuate.</p>
            <h6>Copyright Notice </h6>
            <p>Copyright and other relevant intellectual property rights exist on all text and music on this website. </p>
            <h6>Disclaimer</h6>
            <p>Exclusions and Limitations: third parties
                To the fullest extent permitted by law, Useful Music excludes all representations and warranties relating to this website and its contents provided by any affiliates or other third parties.
                Exclusions and Limitations: use of this website
                Useful Music excludes all liability for damages arising out of or in connection with your use of this website.
                None of your statutory rights as a consumer are affected.
            </p>
            <h6>Links from this website</h6>
            <p>We do not monitor or review the content of other party’s websites which are linked to from this website. Opinions expressed or material appearing on such websites are not necessarily shared or endorsed by us and we should not be regarded as the publisher of such opinions or material. Useful Music will not accept any responsibility for any loss or damage in whatever manner, howsoever caused, resulting from your disclosure to third parties of personal information.</p>
            <h6>Force Majeure</h6>
            <p>Neither you nor Useful Music shall be liable to the other for any failure to perform any obligation under the Terms and Conditions which is due to an event beyond the control of either you or Useful Music. Any of the Parties affected by such event shall forthwith inform the other Party of the same and shall use all reasonable endeavours to comply with the Terms and Conditions contained herein.</p>
            <h6>Waiver</h6>
            <p>If either of the Parties fail or delay in exercising a right or remedy agreed or implied in these Terms and Conditions, such failure or delay will not prevent either of the Parties from exercising that right or remedy in full in the future.</p>
            <h6>General</h6>
            <p>The laws of England and Wales govern these Terms and Conditions. By accessing this website and purchasing our music you consent to these Terms and Conditions and to the exclusive jurisdiction of the English courts in all disputes arising out of such access or purchases. Failure of either of the Parties to enforce any of the provisions set out in these Terms and Conditions for any period of time shall not be construed as waiver of such provisions and shall not affect the validity of these Terms and Conditions or the right thereafter to enforce each and every provision. </p>
            <h6>Notification of Changes</h6>
            <p>The Company reserves the right to change these Terms and Conditions from time to time as it sees fit and your continued use of the site will signify your acceptance of any adjustment to these terms. </p>
            <h6>Your Consent</h6>
            <p>These Terms and Conditions form part of the Agreement between you and Useful Music. Your accessing of and/or purchasing from this website indicates your understanding, agreement to and acceptance, of the Disclaimer Notice and the full Terms and Conditions contained herein. <br><br>Your statutory Consumer Rights are unaffected.<br><br>© Useful Music 2014 All Rights Reserved</p>

            <h6>Ownership</h6>
            <p>The owner of this website is Graham Lyons, trading as Useful Music. Place of business: 11 Tinley Garth, Kirkbymoorside, YO62 6AR United Kingdom</p>
        </div>
    </div>
