<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>UsefulMusic.com</title>
  <link rel="stylesheet" href="//yui.yahooapis.com/pure/0.5.0/pure-min.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/stylesheets/application.css">
</head>
<body>
  <%= render :'../header' %>

  <div class="content flash success">
    <%= flash[:success] %>
  </div>
  <%= yield %>
  <%= render :'../footer' %>
  <script charset="utf-8">

    function ready(fn) {
      if (document.readyState != 'loading'){
        fn();
      } else {
        document.addEventListener('DOMContentLoaded', fn);
      }
    }

    var flashElement = document.querySelector('.flash')
    ready(function(){
      flashElement.classList.add('loaded');
    })
  </script>
</body>
</html>
