<footer>
    <div class="row collapse">
        <div class="large-2 columns">
            <h6>Information</h6>
            <ul>
                <!-- <a href="" onclick="alert('Coming soon')"><li>Blog</li></a> -->
                <a href="/about"><li>About Us</li></a>
                <a href="/about/privacy"><li>Privacy Policy</li></a>
                <a href="/about/terms_and_conditions" ><li>Terms &amp; Conditions</li></a>
            </ul>
            <h6>My Account</h6>
            <ul>
                <a href="/sessions/new"><li>My Account</li></a>
                <a href="/sessions/new"><li>Order History</li></a>
            </ul>
        </div>
        <div class="large-2 columns">
            <h6>Customer Service</h6>
            <ul>
                <a href="/about/contact"><li>Contact Us</li></a>
                <a href="/about/licencing_and_copyright"><li>Licencing &amp; Copyright</li></a>
                <a href="/about/refunds"><li>Returns</li></a>
                <!-- <a href="" onclick="alert('Coming soon')"><li>Site Map</li></a> -->
            </ul>
            <h6>Extras</h6>
            <ul>
                <!-- <a href="" onclick="alert('Coming soon')"><li>Gift Vouchers</li></a> -->
                <!-- <a href="" onclick="alert('Coming soon')"><li>Specials</li></a> -->
                <a href="/about/composers" ><li>Composer Submission</li></a>
                <a href="http://blog.usefulmusic.com" ><li>Blog</li></a>
            </ul>
        </div>
        <div class="large-4 columns">
            <h6>Sign up now for a free sheet music download!</h6>
            <p>Enter your email address below to receive interesting, relevant and carefully selected musical content every month.</p>
            <!-- Begin MailChimp Signup Form -->
              <link href="//cdn-images.mailchimp.com/embedcode/slim-081711.css" rel="stylesheet" type="text/css">
                <style type="text/css">
                  #mc_embed_signup{background:none; clear:left; color: white; border: 0.1em solid white; font:14px Helvetica,Arial,sans-serif; }
                </style>
                <div id="mc_embed_signup">
                  <form action="//usefulmusic.us7.list-manage.com/subscribe/post?u=69804bb61c69e0925f5c0e623&amp;id=8cb061c6db" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                    <div id="mc_embed_signup_scroll">
                      <label for="mce-EMAIL">Subscribe to our mailing list</label>
                        <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
                          <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                          <div style="position: absolute; left: -5000px;"><input type="text" name="b_69804bb61c69e0925f5c0e623_8cb061c6db" tabindex="-1" value="">
                          </div>
                          <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
                          </div>
                    </div>
</form>
</div>

<!--End mc_embed_signup-->
        </div>
        <div class="large-4 columns">
            <h6 style="float: right;">Useful Music on Social Media</h6>
            <ul class="social-list">
                <a href="https://www.facebook.com/usefulmusic">
                    <li class="f-book">
                        <i class="fa fa-facebook fa-fw"></i>
                    </li>
                </a>
                <a href="https://www.youtube.com/user/usefulmusic">
                    <li class="you-tube">
                        <i class="fa fa-youtube fa-fw"></i>
                    </li>
                </a>
                <a href="http://www.twitter.com/usefulMusic">
                    <li class="twit">
                        <i class="fa fa-twitter fa-fw"></i>
                    </li>
                </a>
                <a href="https://soundcloud.com/useful-music">
                    <li class="cloud">
                        <i class="fa fa-soundcloud fa-fw"></i>
                    </li>
                </a>
                <a href="https://plus.google.com/u/0/108646984468355109753/about">
                    <li class="g-plus">
                        <i class="fa fa-google-plus fa-fw"></i>
                    </li>
                </a>
            </ul>
        </div>
    </div>
    <div class="row collapse">
        <div class="large-12 columns">
            <p>All rights reserved © 2015 Useful Music</p>
            <p>Digital by <a href="">Workshop 14 Ltd</a>  |  <a href="http://www.richardesigns.co.uk">Design by Curly Cottage Media Limited</a></p>
        </div>
    </div>
</footer>

<script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/183581/jquery.js"></script>
<script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/183581/foundation.min.js"></script>
<script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/183581/foundation.topbar.js"></script>
<script src="http://owlgraphic.com/owlcarousel/owl-carousel/owl.carousel.min.js"></script>
<script charset="utf-8">

$(document).foundation();

$(document).ready(function () {
    var carousel = $("#owl-demo");
    carousel.owlCarousel({
        singleItem:true,
        navigation: false,
        addClassActive:true
    });

    $("#btn").click(function(){
        var active = carousel.find(".owl-item.active");
        alert(active.text())
    })


});

</script>
