<footer>
    <div class="row collapse">
        <div class="large-2 columns">
            <h6>Information</h6>
            <ul>
                <a href=""><li>Blog</li></a>
                <a href=""><li>About Us</li></a>
                <a href=""><li>Privacy Policy</li></a>
                <a href=""><li>Terms &amp; Conditions</li></a>
            </ul>
            <h6>My Account</h6>
            <ul>
                <a href=""><li>My Account</li></a>
                <a href=""><li>Order History</li></a>
            </ul>
        </div>
        <div class="large-2 columns">
            <h6>Customer Service</h6>
            <ul>
                <a href=""><li>Contact Us</li></a>
                <a href=""><li>Licencing &amp; Copyright</li></a>
                <a href=""><li>Returns</li></a>
                <a href=""><li>Site Map</li></a>
            </ul>
            <h6>Extras</h6>
            <ul>
                <a href=""><li>Gift Vouchers</li></a>
                <a href=""><li>Specials</li></a>
                <a href=""><li>Composer Submission</li></a>
            </ul>
        </div>
        <div class="large-4 columns">
            <h6>Sign up now for a free sheet music download!</h6>
            <p>Enter your email address below to receive interesting, relevant and carefully selected musical content every month.</p>
            <h6>email box goes here</h6>
        </div>
        <div class="large-4 columns">
            <h6 style="float: right;">Useful Music on Social Media</h6>
            <ul class="social-list">
                <a href="">
                    <li class="f-book">
                        <i class="fa fa-facebook fa-fw"></i>
                    </li>
                </a>
                <a href="">
                    <li class="you-tube">
                        <i class="fa fa-youtube fa-fw"></i>
                    </li>
                </a>
                <a href="">
                    <li class="twit">
                        <i class="fa fa-twitter fa-fw"></i>
                    </li>
                </a>
                <a href="">
                    <li class="cloud">
                        <i class="fa fa-soundcloud fa-fw"></i>
                    </li>
                </a>
                <a href="">
                    <li class="g-plus">
                        <i class="fa fa-google-plus fa-fw"></i>
                    </li>
                </a>
            </ul>
        </div>
    </div>
    <div class="row collapse">
        <div class="large-12 columns">
            <p>All rights reserved © 2015 Useful Music</p>
            <p>Digital by <a href="">Workshop 14 Ltd</a>  |  <a href="">Design by Curly Cottage Media Limited</a></p>
        </div>
    </div>
</footer>

<script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/183581/jquery.js"></script>
<script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/183581/foundation.min.js"></script>
<script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/183581/foundation.topbar.js"></script>
<script src="http://owlgraphic.com/owlcarousel/owl-carousel/owl.carousel.min.js"></script>
<script charset="utf-8">

$(document).foundation();

$(document).ready(function () {
    var carousel = $("#owl-demo");
    carousel.owlCarousel({
        singleItem:true,
        navigation: false,
        addClassActive:true
    });

    $("#btn").click(function(){
        var active = carousel.find(".owl-item.active");
        alert(active.text())
    })


});

</script>
