<footer class="secondary inverted">
  <section class="content">
    <div class="col col-4">
      <h3>Information</h3>
      <ul>
        <li><a href="#">Blog</a></li>
        <li><a href="/about">About Us</a></li>
        <li><a href="/about/privacy">Privacy Policy</a></li>
        <li><a href="/about/terms_and_conditions">Terms &amp; Conditions</a></li>
      </ul>

      <h3>Extras</h3>
      <ul>
        <li><a href="#">Gift Vouchers</a></li>
        <li><a href="#">Specials</a></li>
        <li><a href="/about/composers">Composer Submission</a></li>
      </ul>
    </div>
    <div class="col col-4">
      <h3>Customer Service</h3>
      <ul>
        <li><a href="/about/contact">Contact Us</a></li>
        <li><a href="/about/licencing_and_copyright">Licencing &amp; Copyright</a></li>
        <li><a href="/refunds">Returns</a></li>
        <li><a href="/about/sitemap">Site Map</a></li>
      </ul>
      <h3>My Account</h3>
      <ul>
        <li><a href="#">My Account</a></li>
        <li><a href="#">Order History</a></li>
      </ul>
    </div>
    <div class="col col-2">
      <h3>Useful Music on Social Media</h3>
      <ul class="social-list">
        <li>
          <i class="fa fa-facebook fa-fw"></i>
        </li>
        <li>
          <i class="fa fa-youtube fa-fw"></i>
        </li>
        <li>
          <i class="fa fa-twitter fa-fw"></i>
        </li>
        <li>
          <i class="fa fa-soundcloud fa-fw"></i>
        </li>
        <li>
          <i class="fa fa-google-plus fa-fw"></i>
        </li>
      </ul>
      <p>
        Enter your email address below to receive interesting, relevant and carefully selected musical content straight to your inbox every month.
      </p>
    </div>
  </section>
</footer>
<footer class="ribbon inverted">
  <section class="content">
    <ul class="main-navigation">
      <li>All site contents and materials © 2015 Useful Music</li>
    </ul>

    <ul class="main-navigation right">
      <li>
        <a href="/my-shopping-basket">Digital by Workshop 14 Limited</a>
      </li>
    </ul>
  </section>
</footer>
