<div class="row collapse">
    <div class="head-bg">
        <div class="large-2 columns" style="padding-left: 0em;">
            <a href="/">
                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/183581/logored.png" class="logo-wrap">
            </a>
        </div>
        <div class="large-5 columns header-text">
            <h1>
                Original Sheet Music Downloads
            </h1>
            <h2>
                For Musicians, Professionals, Ensembles and Groups<br>By Graham Lyons
            </h2>
        </div>
        <div class="large-5 columns" style="padding-right: 0em;">
            <button form="catalogue-search-input">
                <div class="ud-search-submit">
                    <i class="fa fa-search search-icon"></i>
                </div>
            </button>
            <div class="ud-search-wrap">
                <label>Search Title or UD Code...</label>
                <div class="search-field">
                    <form id="catalogue-search-input" action="/pieces/search" method="get">
                        <input type="text" name="name" value="">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="sticky" data-options="sticky_on: large">
    <div class="row sticky">
        <div class="nav-bg show-for-large-up">
            <div class="large-10 columns nav-border" style="padding-left: 0em;">

                <nav class="top-bar" data-topbar role="navigation">
                    <section class="top-bar-section">
                        <ul class="left">
                            <li>
                                <a href="/">Home</a>
                            </li>
                            <li>
                                <a href="/piano">Piano</a>
                            </li>
                            <li class="has-dropdown">
                                <a href="#">Woodwind</a>
                                <ul class="dropdown">
                                    <li><a href="/recorder">Recorder</a></li>
                                    <li><a href="/flute">Flute</a></li>
                                    <li><a href="/oboe">Oboe</a></li>
                                    <li><a href="/clarinet">Clarinet</a></li>
                                    <li><a href="/clarineo">Clarineo</a></li>
                                    <li><a href="/bassoon">Bassoon</a></li>
                                    <li><a href="/saxophone">Saxophones</a></li>
                                </ul>
                            </li>
                            <li class="has-dropdown">
                                <a href="#">Strings &amp; Bass</a>
                                <ul class="dropdown">
                                    <li><a href="/violin">Violin</a></li>
                                    <li><a href="/viola">Viola</a></li>
                                    <li><a href="/percussion">Percussion</a></li>
                                </ul>
                            </li>
                            <li class="has-dropdown">
                                <a href="#">Ensembles</a>
                                <ul class="dropdown">
                                    <li><a href="#">Duet</a></li>
                                    <li><a href="#">Solo with accompaniment</a></li>
                                    <li><a href="#">Trios</a></li>
                                    <li><a href="#">Quartets</a></li>
                                    <li><a href="#">Larger Ensembles</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="/about">About Useful Music</a>
                            </li>
                            <% if current_customer.guest? %>
                            <li>
                                <a href="/sessions/new">Login</a>
                            </li>
                            <li>
                                <a href="/customers/new">Create Account</a>
                            </li>
                            <% else %>
                            <li>
                                <a href="/customers/<%= current_customer.id %>"><%= current_customer.name %></a>
                            </li>
                            <li>
                                <form id="form_id" action="/sessions" method="post">
                                    <%= csrf_tag %>
                                    <input type="hidden" name="_method" value="DELETE">
                                    <input type="submit" value="logout">
                                </form>
                            </li>
                            <% end %>
                        </ul>
                    </section>
                </nav>
            </div>
            <div class="large-2 columns basket-nav">
                <label>BASKET</label>
                <label>0 ITEM(S) |  £0.00 <i class="fa fa-shopping-cart"></i></label>
            </div>
        </div>
    </div>
</div>
